In [138]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

In [139]:
os.chdir("/Users/anon/GitHubRepos/Kaggle/TravellingSanta/Data")

In [140]:
city_data = pd.read_csv("cities.csv")

In [141]:
city_data.head(5)

   CityId            X            Y
0       0   316.836739  2202.340707
1       1  4377.405972   336.602082
2       2  3454.158198  2820.053011
3       3  4688.099298  2935.898056
4       4  1010.696952  3236.750989

In [142]:
city_data.columns = ['CityId','x_coord','y_coord']

In [143]:
city_data.shape

(197769, 3)

In [ ]:
## creating a scatter plot of the x y coordinates of all the cities
city_data.plot(kind="scatter",x = "x_coord", y = "y_coord", alpha=0.1, figsize = (12,12))

plt.show()

In [112]:
## finding the distance between two locations
# the euclidean distance can be calculated based on the formula

def distance_calculation(i,j):
    dist = (city_data.loc[city_data['CityId']==i,'x_coord'].values[0] - city_data.loc[city_data['CityId']==j,'x_coord'].values[0])**2+(city_data.loc[city_data['CityId']==i,'y_coord'].values[0] - city_data.loc[city_data['CityId']==j,'y_coord'].values[0])**2
    return dist

In [144]:
## finding the distance between two locations
# the euclidean distance can be calculated based on the formula

def distance_calculation_sample(i,j):
    print(1)
    print(i,j)
    dist = (i[1] - j[1])**2 + (i[2] - j[2])**2
    print("dist is",dist)
    return dist

In [ ]:
distance = distance_calculation(77462,124109)
#city_data.iloc[2,1]
print(distance)

In [186]:
##checking if a city id is a prime id
def prime_check(x):
    divisor_array = np.arange(2,(x/2)+1)
    remainder_array = x%divisor_array
    if 0 in remainder_array:
        ## indicates non prime
        return 0
    else:
        ##indicates prime
        return 1

In [9]:
## Adding a column to data to indicate if city id is prime or not

city_data['prime_or_not'] = city_data['CityId'].apply(lambda x: pd.Series(prime_check(x)))

In [151]:
#city_data.head(10)

## Creating a subset of the city data

In [206]:
import random
city_data.shape
subset_index = random.sample(range(city_data.shape[0]), 30)

In [207]:
## creating the sample city dataframe from the randomly generated indices in the previous step
city_data_sample = city_data.iloc[subset_index,:]
#type(subset_index)

In [208]:
## Adding the city ID 0 as that is required from the start point
city_data_sample = city_data_sample.append(city_data.loc[city_data['CityId']==0])

In [209]:
city_data_sample.sort_values('CityId', inplace=True)
#city_data.loc[city_data['CityId']==0]

In [210]:
city_data_sample['prime_or_not'] = city_data_sample['CityId'].apply(lambda x : pd.Series(prime_check(x)))

In [211]:
city_data_sample

        CityId      x_coord      y_coord  prime_or_not
0            0   316.836739  2202.340707             1
3473      3473  4682.197710  2877.843390             0
6314      6314  2219.025165   313.670836             0
11376    11376  3833.459209  1824.151005             0
29310    29310  2957.346810  3205.398541             0
35600    35600   833.303266  2020.771112             0
39032    39032  1120.082185  2190.594450             0
42052    42052   101.844777  2787.094065             0
56093    56093  5088.225323  3101.449047             1
60189    60189  4194.458514  2363.200404             0
67895    67895  1728.159278  2363.665136             0
69833    69833  1789.247285   803.745573             1
86921    86921  2610.148681   751.579803             0
100499  100499  4961.914218  2253.298094             0
105762  105762  4422.806470  1538.347374             0
126037  126037   659.815696  2509.815812             1
127886  127886  4387.937747  1339.766746             0
128744  128744  3457.174985   152.647983             0
131686  131686  1875.858910  3089.215100             0
152167  152167  2662.042447  1585.279938             0
153008  153008  4577.441250  1208.201600             0
157668  157668  2054.170434  1444.839548             0
160946  160946  4470.327749  1552.540138             0
164398  164398  4960.987488  3212.148523             0
170069  170069   226.742582  2646.110815             0
173332  173332  3260.406972  2809.242305             0
175808  175808  2071.854501  1144.633367             0
178024  178024  3255.023928  2649.214200             0
186478  186478  2014.898530    42.729882             0
187454  187454   246.362160  3280.581396             0
196191  196191  5042.482366  3202.683528             0

In [ ]:
## Just checking if the city Id 0 was already part of the randomly generated index
city_data_sample.loc[city_data_sample['CityId']==0]

In [ ]:
print(max(city_data_sample['y_coord']), min(city_data_sample['y_coord']))

In [ ]:
print(max(city_data_sample['x_coord']), min(city_data_sample['x_coord']))

In [ ]:
center_x_coord = (max(city_data_sample['x_coord'])- min(city_data_sample['x_coord']))/2

In [ ]:
center_y_coord = (max(city_data_sample['y_coord'])- min(city_data_sample['y_coord']))/2

In [ ]:
print(center_x_coord, center_y_coord)

## Creating imaginary square shaped clusters over the entire space

In [ ]:
## Size of each square assuming we will have a total of 25 squares (5 rows and 5 columns)
square_x_dim = (max(city_data_sample['x_coord']) - min(city_data_sample['x_coord']))/3
square_y_dim = (max(city_data_sample['y_coord']) - min(city_data_sample['y_coord']))/3

In [ ]:
print(square_x_dim, square_y_dim)

In [ ]:
city_data_sample.loc[city_data_sample['x_coord']==38.0819264150771]
city_data_sample.loc[city_data_sample['y_coord']==min(city_data_sample['y_coord'])]

In [ ]:
square_x_points = []
square_y_points = []
x_min = min(city_data_sample['x_coord'])
y_min = min(city_data_sample['y_coord'])
for i in range(0,4):
    square_x_points.append(x_min + (square_x_dim * i))
    square_y_points.append(y_min + (square_y_dim * i))

In [ ]:
square_x_points

In [ ]:
square_y_points

### finding all the cities that lie within each squares

In [ ]:
## np.digitize is to allocate the value to the appropriate bin
city_data_sample['Cluster_x'] = np.digitize(city_data_sample['x_coord'],square_x_points)

In [ ]:
city_data_sample['Cluster_y'] = np.digitize(city_data_sample['y_coord'],square_y_points)

In [ ]:
city_data_sample['Square_number'] = (city_data_sample['Cluster_y']-1)*5 + city_data_sample['Cluster_x']

In [ ]:
def Squarenumber_calculation(x,y):
    if y%2==0:
        square_number = (y*3 - x) + 1
    elif y%2 != 0:
        square_number = (y-1)*3 + x
    return square_number

In [ ]:
## if cluster_y is even then reverse 
city_data_sample['Square_number'] = city_data_sample.apply(lambda x : Squarenumber_calculation(x['Cluster_x'],x['Cluster_y']), axis=1)

In [ ]:
city_data_sample.loc[city_data_sample['CityId']==0]

#### finding the sequence of movement for each square - it is from the starting point to the diagonally opposite point , from that point to the next square's diagonally opposite point and so on
find the euclidean distance of all points within a square and rank them in ascending order ending at the diagonal opposite point

In [ ]:
square_clusters = city_data_sample.loc[city_data_sample['Square_number']==1,['CityId','x_coord','y_coord']]

In [ ]:
#square_clusters['x_coord']+square_clusters['y_coord'].argmax()
square_clusters['total'] = square_clusters['x_coord'] + square_clusters['y_coord']
start_point = square_clusters.loc[square_clusters['total'].idxmin(),'CityId']
end_point = square_clusters.loc[square_clusters['total'].idxmax(),'CityId']

In [ ]:
#end_point
square_clusters['distance'] = square_clusters.apply(lambda x : distance_calculation(start_point, x['CityId']), axis=1)

In [ ]:
square_clusters['rank'] = square_clusters['distance'].rank()

In [ ]:
square_clusters.loc[square_clusters['rank'].idxmax(),['CityId']].values[0]

In [ ]:
## Looping from 1 to 5; have a counter; check if the counter is a divisibel of 5 or 10. If 5, double the cluster 
## number and then start reversing the count, If divisbible by 10, double the cluster number and start increasing the
## count

## after each cluster is completed - how to transistion to the next; Just find the nearest point and make that point
## as the starting point of that cluster

In [ ]:
move_sequence = []
for i in range(1,26):
    square_clusters = city_data_sample.loc[city_data_sample['Square_number']==i,['CityId','x_coord','y_coord']]
    square_clusters['total'] = square_clusters['x_coord'] + square_clusters['y_coord']
    if i==1:
        start_point = square_clusters.loc[square_clusters['total'].idxmin(),'CityId']
    else:
        square_clusters['start_point'] = square_clusters.apply(lambda x: distance_calculation(end_point, x['CityId']), axis = 1)
        start_point = square_clusters.loc[square_clusters['start_point'].idxmin(),['CityId']].values[0]
    square_clusters['distance'] = square_clusters.apply(lambda x : distance_calculation(start_point, x['CityId']), axis=1)
    square_clusters['rank'] = square_clusters['distance'].rank()
    end_point = square_clusters.loc[square_clusters['rank'].idxmax(),['CityId']].values[0]
    for j in range(1,square_clusters.shape[0]+1):
        move_sequence.append(square_clusters.loc[square_clusters['rank']==j,'CityId'].values[0])

In [182]:

def optimized_travelling_salesman(points):
    start = points[0]
    must_visit = points
    path = [start[0]]
    must_visit.remove(start)
   # i = 0
    while must_visit:
        #i +=1 
        #print(start)
        #print(must_visit)
        #nearest = max([distance_calculation_sample(start,b) for b in must_visit], key=lambda x: x[0])
        index, element = min(enumerate([distance_calculation_sample(start,b) for b in must_visit]), key=itemgetter(1))

        print("nearest is", index)
        path.append(must_visit[index][0])
        start = must_visit[index]
        must_visit.remove(must_visit[index])
    return path

In [ ]:

def optimized_travelling_salesman_prime(points):
    start = points[0]
    must_visit = points
    path = [start[0]]
    must_visit.remove(start)
    i = 0
    while must_visit:
        i +=1 
        #print(start)
        #print(must_visit)
        #nearest = max([distance_calculation_sample(start,b) for b in must_visit], key=lambda x: x[0])
        if i%10==0:
        index, element = min(enumerate([distance_calculation_sample(start,b) for b in must_visit]), key=itemgetter(1))
        if i = 

        print("nearest is", index)
        path.append(must_visit[index][0])
        start = must_visit[index]
        must_visit.remove(must_visit[index])
    return path

In [128]:
## am trying to find the min of the distance between the start point and all the other points - to find the next point
## to move to. The points are in a list - with the city ID, the x and y coords. Two lists are supplied at a time
## to the distance function. It works fine for the first few times and on the last call, it says float not 
## subscriptable

In [183]:
xy_points = city_data_sample.values[:,0:3].tolist()
xy_points

[[0.0, 316.83673906150904, 2202.34070733524],
 [71013.0, 4487.486952787271, 1703.56950314701],
 [106170.0, 391.52053928624395, 2603.54100032504],
 [136316.0, 4581.93253534236, 2085.46005339031],
 [141544.0, 2184.82141978833, 579.942225272318],
 [181640.0, 2709.9612323762303, 1255.25904189294]]

In [173]:
start = xy_points[0]
print(start)
path = [start[0]]
print(path)
must_visit = xy_points
print(must_visit[0][0])

[0.0, 316.83673906150904, 2202.34070733524]
[0.0]
0.0

In [184]:
path_list = optimized_travelling_salesman(xy_points)

1
[0.0, 316.83673906150904, 2202.34070733524] [71013.0, 4487.486952787271, 1703.56950314701]
dist is 17643095.919378113
1
[0.0, 316.83673906150904, 2202.34070733524] [106170.0, 391.52053928624395, 2603.54100032504]
dist is 166539.34511110937
1
[0.0, 316.83673906150904, 2202.34070733524] [136316.0, 4581.93253534236, 2085.46005339031]
dist is 18204703.238719177
1
[0.0, 316.83673906150904, 2202.34070733524] [141544.0, 2184.82141978833, 579.942225272318]
dist is 6121543.602030156
1
[0.0, 316.83673906150904, 2202.34070733524] [181640.0, 2709.9612323762303, 1255.25904189294]
dist is 6624008.521519802
nearest is 1
1
[106170.0, 391.52053928624395, 2603.54100032504] [71013.0, 4487.486952787271, 1703.56950314701]
dist is 17586889.556261327
1
[106170.0, 391.52053928624395, 2603.54100032504] [136316.0, 4581.93253534236, 2085.46005339031]
dist is 17827960.56426779
1
[106170.0, 391.52053928624395, 2603.54100032504] [141544.0, 2184.82141978833, 579.942225272318]
dist is 7310880.050404433
1
[106170.0, 391.52053928624395, 2603.54100032504] [181640.0, 2709.9612323762303, 1255.25904189294]
dist is 7193031.486809075
nearest is 3
1
[181640.0, 2709.9612323762303, 1255.25904189294] [71013.0, 4487.486952787271, 1703.56950314701]
dist is 3360579.956392625
1
[181640.0, 2709.9612323762303, 1255.25904189294] [136316.0, 4581.93253534236, 2085.46005339031]
dist is 4193510.2786199655
1
[181640.0, 2709.9612323762303, 1255.25904189294] [141544.0, 2184.82141978833, 579.942225272318]
dist is 731824.6255754663
nearest is 2
1
[141544.0, 2184.82141978833, 579.942225272318] [71013.0, 4487.486952787271, 1703.56950314701]
dist is 6564806.816445387
1
[141544.0, 2184.82141978833, 579.942225272318] [136316.0, 4581.93253534236, 2085.46005339031]
dist is 8012725.631093802
nearest is 0
1
[71013.0, 4487.486952787271, 1703.56950314701] [136316.0, 4581.93253534236, 2085.46005339031]
dist is 154760.36042930058
nearest is 0

In [185]:
path_list

[0.0, 106170.0, 181640.0, 141544.0, 71013.0, 136316.0]

In [34]:
def sum_test(x,y):
    return x+y

In [120]:
s = [3,4,5]
e = [2]
result = min([sum_test(a,b) for a in e for b in s ])

In [121]:
print(result)

5

In [124]:
from operator import itemgetter
index, element = max([sum_test(a,b) for a in e for b in s ], key=itemgetter(0))

TypeError: 'int' object is not subscriptable

In [125]:
from operator import itemgetter

index, element = max(enumerate([sum_test(a,b) for a in e for b in s ]), key=itemgetter(1))

In [126]:
print(index, element)

2 7

In [149]:
city_data_sample.head(3)

        CityId      x_coord      y_coord
4365    4365.0  3070.075724    98.558769
8594    8594.0  1991.752267   366.626968
81320  81320.0  2766.037620  1487.923231

In [98]:
xy_points = city_data_sample.values[:,0:3].tolist()

In [78]:
xy_points

[[2413.0, 1687.18138925181, 293.737878040991],
 [129987.0, 4651.73871497208, 2391.76209483912],
 [108429.0, 2426.27707945246, 2871.4821345706396],
 [150003.0, 2733.5342765100895, 1813.75629464121],
 [736.0, 2899.27777777778, 1773.44544061674],
 [0.0, 316.83673906150904, 2202.34070733524]]

In [53]:
city_data_sample.loc[city_data_sample['CityId']==2413]

      CityId      x_coord     y_coord  prime_or_not
2413  2413.0  1687.181389  293.737878           0.0

In [ ]:


def main():
    doctest.testmod()
    points = [[0, 0], [1, 5.7], [2, 3], [3, 7],
              [0.5, 9], [3, 5], [9, 1], [10, 5]]
    print("""The minimum distance to visit all the following points: {}
starting at {} is {}.

In [ ]:
move_sequence = []
for j in range(1,square_clusters.shape[0]+1):
        move_sequence.append(square_clusters.loc[square_clusters['rank']==j,'CityId'].values[0])

In [ ]:
move_sequence

## The below code is to draw ellipse. Not to be used now

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.patches import Ellipse

def eigsorted(cov):
    vals, vecs = np.linalg.eigh(cov)
    order = vals.argsort()[::-1]
    return vals[order], vecs[:,order]

x = [5,7,11,15,16,17,18]
y = [25, 18, 17, 9, 8, 5, 8]

nstd = 2
ax = plt.subplot(111)

cov = np.cov(x, y)
vals, vecs = eigsorted(cov)
theta = np.degrees(np.arctan2(*vecs[:,0][::-1]))
w, h = 2 * nstd * np.sqrt(vals)
ell = Ellipse(xy=(np.mean(x), np.mean(y)),
              width=w, height=h,
              angle=theta, color='black')
ell.set_facecolor('none')
ax.add_artist(ell)
plt.scatter(x, y)
plt.show()