In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
from operator import itemgetter

In [2]:
os.chdir("/Users/anon/GitHubRepos/Kaggle/TravellingSanta/Data")

In [3]:
city_data = pd.read_csv("cities.csv")

In [4]:
city_data.head(5)

   CityId            X            Y
0       0   316.836739  2202.340707
1       1  4377.405972   336.602082
2       2  3454.158198  2820.053011
3       3  4688.099298  2935.898056
4       4  1010.696952  3236.750989

In [5]:
city_data.columns = ['CityId','x_coord','y_coord']

In [6]:
city_data.shape

(197769, 3)

In [ ]:
## creating a scatter plot of the x y coordinates of all the cities
city_data.plot(kind="scatter",x = "x_coord", y = "y_coord", alpha=0.1, figsize = (12,12))

plt.show()

In [7]:
## finding the distance between two locations
# the euclidean distance can be calculated based on the formula

def distance_calculation_sample(i,j):
    #print(1)
    #print(i,j)
    dist = (i[1] - j[1])**2 + (i[2] - j[2])**2
    #print("dist is",dist)
    return dist

In [8]:

def move_sequence(points):
    start = points[0]
    must_visit = points
    path = [start[0]]
    must_visit.remove(start)
   # i = 0
    while must_visit:
        #i +=1 
        #print(start)
        #print(must_visit)
        #nearest = max([distance_calculation_sample(start,b) for b in must_visit], key=lambda x: x[0])
        index, element = min(enumerate([distance_calculation_sample(start,b) for b in must_visit]), key=itemgetter(1))

        #print("nearest is", index)
        path.append(must_visit[index][0])
        start = must_visit[index]
        must_visit.remove(must_visit[index])
    return path

In [128]:
## am trying to find the min of the distance between the start point and all the other points - to find the next point
## to move to. The points are in a list - with the city ID, the x and y coords. Two lists are supplied at a time
## to the distance function. It works fine for the first few times and on the last call, it says float not 
## subscriptable

In [9]:
xy_points = city_data.values[:,0:3].tolist()
#xy_points

In [10]:
path_list = move_sequence(xy_points)

In [13]:
path_list[:2]

[0.0, 78934.0]

In [15]:
path_list_copy = path_list

In [21]:
path_list_df = pd.DataFrame({'CityId':path_list})

In [23]:
path_list_df.to_csv("path_list_v1.csv")